 * {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 25px;
  background-color: #E0FFFF;
}

.Welcome {
  font-size: 84px;
  font-family: 'Libre Baskerville', serif;
}

.landing {
  display: flex;
  background-color: #B0E0E6;
  justify-content: space-between;
  align-items: center;
}

.topnav{
  padding: 25px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  background-color:#6495ED;
}

.topnav ul li {
  margin: 0 15px;
  display: inline-block;
  font-size: 30px;
}

.topnav ul li a:hover {
  background-color: #00CED1;
}
.topnav ul li a {
  margin: 8px;
  padding: 10px;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

#abt{
  background-size: 55%;
  overflow: hidden;
  padding:100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
