<!DOCTYPE html>
<html lang="en">

<head>
    <title>FormFusion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Ropa+Sans:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <div class="landing-container">
        <div class="welcome-container">
            <h1 class="welcome">
                Welcome to <p>FormFusion</p>
            </h1>
        </div>
        <div id="logo">
            <img src="../static/img/logo1.png" alt="logo" width="175" height="175">
        </div>
        <nav>
            <div class="topnav">
                <ul>
                    <li><a id="sec-1" href="#abt">About</a></li>
                    <li><a id="sec-2" href="#tech">Tech</a></li>
                    <li><a id="sec-2" href="#demo">Try it</a></li>
                </ul>
                <hr>
            </div>
        </nav>
    </div>
    <article class="about-section" id="abt">
        <h2>About Us</h2>
        <p>
            Starting the journey of personal improvement can be a difficult and inimidating task! We know the feeling-
            you walk into the gym with a new fitness goal in mind, only to realize you aren't sure how to perform an
            exercise properly. Or maybe you're an experienced athlete looking to reach that next level of training.
            Whatever the case, look no further than <b>FormFusion!</b>

            FormFusion is a handy tool that accepts user-uploaded videos to analyze their movement via vector angles,
            comparing them to a chosen "expert" in order to determine how they can improve their form.

            We hope that through this software those that need guidance but may not have the time or resources to employ
            a personal trainer or coach for their activity can still receive feedback so they don't need to make
            any guesses!
        </p>
    </article>
    <article>
        <h2 id="tech">What We Used</h2>
        <div class="tech-section">
            <p>
                FormFusion’s primary functionality is achieved through OpenCV and Google’s MediaPipe framework.
                These tools make for a capable AI-empowered API that works by analyzing a video file uploaded to
                an S3 bucket, and overlaying 33 landmark points onto the video’s subject. This enables an effective
                visualization of joint angles with which to analyze and determine the quality of your form!
                See our GitHub repository <a href="https://github.com/Tony-Stark93/Form-Fusion">here</a>.
            </p>
            <table>
                <tr>
                    <th>
                        <img src="../static/img/mediapipe.webp" alt="mediapipe logo" width="200" height="200">
                    </th>
                    <th>
                        <img src="../static/img/open_cv.png" alt="open-cv logo" width="160" height="150">
                    </th>
                    <th>
                        <img src="../static/img/s3.png" alt="aws-s3 logo" width="180" height="180">
                    </th>
                </tr>
            </table>
        </div>
    </article>
    <article class="demo" id="demo">
        <h2>Try it out!</h2>
        <p>
            Below you will find a quick form to complete! FormFusion works best by providing a video
            of your movement to compare against an expert-led video of the same movement. This way,
            you can better observe what to work on. First, select your video file and the expert-completed video file.
            Then, choose the appropriate joints to include in the analysis in the checklist that follows.
            Generally, categorize your exercise as upper-body or lower-body, and choose relevant joints.
            For example, if choosing a pull-up to analyze, you’d want upper-body joins such as the elbows and shoulders!
        </p>
    </article>
    <div class="video-form">
        <form action="/form" method="POST" enctype="multipart/form-data">
            <label for="video1">Upload personal video:</label>
            <input type="file" id="left-video" name="video1" required>
            <label for="video2">Upload professional video:</label>
            <input type="file" id="right-video" name="video2" required>
            <div class="checkbox-group">
                <input type="checkbox" id="joint1" name="1" value="1">
                <label for="joint1"> Left Shoulder</label>
                <input type="checkbox" id="joint2" name="2" value="2">
                <label for="joint2"> Right Shoulder</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="joint3" name="3" value="3">
                <label for="joint3"> Left Elbow</label>
                <input type="checkbox" id="joint4" name="4" value="4">
                <label for="joint4"> Right Elbow</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="joint5" name="5" value="5">
                <label for="joint5"> Left Hip</label>
                <input type="checkbox" id="joint6" name="6" value="6">
                <label for="joint6"> Right Hip</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="joint7" name="7" value="7">
                <label for="joint7"> Left Knee</label>
                <input type="checkbox" id="joint8" name="8" value="8">
                <label for="joint8"> Right Knee</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="joint9" name="9" value="9">
                <label for="joint9"> Left Ankle</label>
                <input type="checkbox" id="joint10" name="10" value="10">
                <label for="joint10"> Right Ankle</label>
            </div>
            <button type="submit">FormFusion!</button>
            <script>
                const form = document.querySelector("form");
                const checkboxes = document.querySelectorAll("input[type='checkbox']");

                form.addEventListener("submit", function (event) {
                    let atLeastOneChecked = false;

                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            atLeastOneChecked = true;
                            break;
                        }
                    }

                    if (!atLeastOneChecked) {
                        alert("Please select at least one option.");
                        event.preventDefault();
                    }
                });
            </script>
        </form>
    </div>
    <div class="video-section">
        <div class="video-container left">
            <h2>Your Movement</h2>
            <div class="video-player">
                <video controls>
                    <source src="static/downloads/annotated_video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="video-container right">
            <h2>Expert's Movement</h2>
            <div class="video-player">
                <video controls>
                    <source src="static/downloads/annotated_pro_video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <article class="output-data">
        <h2>Analysis Results</h2>
        <p>
            {{ message }}
        </p>
    </article>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>