<!DOCTYPE html>
<html lang="en">
<head>
    <title>FormFusion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing">
        <h1 class="Welcome">
            Welcome to FormFusion!
        </h1>
        <nav>
            <div class="topnav">
                <ul>
                    <li><a id="sec-1" href="#image">Home</a></li>
                    <li><a id="sec-2" href="#abt">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="image">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixy.org%2F5709503%2F&psig=AOvVaw3v5LlxfIe20GDVu-MoPfDA&ust=1676232576131000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMDg7oujjv0CFQAAAAAdAAAAABAE" alt="Logo" width="100" height="100">
    </div>
    <div id="abt">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
            </div>
        </div>
    </div>
    
    <div id="try_it">
        <h2 id="tag_try_it">
            Try It
        </h2>
        <h2 id="left_vid">
            You
        </h2>
        <h2 id="right_vid">
            Instructor
        </h2>
        <div id="client_vid">
              
              <video width="400" height="300" id="client" controls></video>

              <form>
                <label for="video-file">Select a video file:</label>
                <input type="file" id="video-file" accept="video/*">
              </form>
              
              <script>
                const input = document.querySelector('#video-file');
                const cl_vid = document.querySelector('#client');
              
                input.addEventListener('change', () => {
                  const file = input.files[0];
                  const url = URL.createObjectURL(file);
                  cl_vid.src = url;
                });
              </script>
        </div>
        
        </div>
        <div id="instr_vid">
            <form>
              <video width=400 height=300 id="instructor" controls></video>

              <label for="video-select">Select a video:</label>
                <select id="video-select">
                  <option value="video1.mp4">Video 1</option>
                  <option value="video2.mp4">Video 2</option>
                  <option value="video3.mp4">Video 3</option>
                </select>
              </form>
              
              <script>
                const select = document.querySelector('#video-select');
                const i_vid = document.querySelector('#instructor');
              
                select.addEventListener('change', () => {
                  i_vid.src = select.value;
                });
              </script>

        </div>
        <h2 id="explanation">
            Import your video
        </h2>
    </div>
    
</body>
</html>
