<!DOCTYPE html>
<html lang="en">
<head>
    <title>FormFusion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Ropa+Sans:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing">
        <h1 class="welcome">
            Welcome to <p>FormFusion</p>
        </h1>
        <div id="logo">
            <img src="../static/images/logo1.png" alt="Logo" width="200" height="200">
        </div>
        <nav>
            <div class="topnav">
                <ul>
                    <li><a href="#image">Home</a></li>
                    <li><a href="#abt">About</a></li>
                    <li><a href="#upload">Upload</a>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div id="abt">
                <div class="inner-container">
                    <img src="">
                    <h1>About</h1>
                    <p class="text">
                        Starting the journey of personal improvement can be a difficult task whether it is improving one's stretching form, lifting form, throwing form, ballet form, etc.
                        We all have various activities where simply having a guide could greatly improve the efficiency of our training, so our goal with FormFusion was to provide an easy to use application that gives feedback on the users form.
                        FormFusion takes in the users personal video and any professional reference video and compares the user's form against the professional's.
                        It then returns feedback about areas where the user's form diverges from the professional's.
                        This allows for quick feedback for the user to then redo the activity and apply the given feedback, increasing the efficiency of their training.
                        The user will also be able to move to different points in each video and visually compare the differences between forms for a specific area in the activity where they might be unsure of what change to make.
                        We hope that through this software those that need guidance but may not have the time or resources to employ a personal trainer or coach for their activity can still have access to feedback so they don't have to blindly try and improve at their hobby.
                    </p>
                </div>
            </div>
            
            <div id="upload">
                <div class="tryit">
                    <h1>
                        Try It
                    </h1>
                </div>
                
                <div class="video-container">
                    <div class="video-box">
                        <h3 class="video-title">You</h3>
                        <video id="client" controls></video>
                        
                        <button id="popup-button">Open Pop-up</button>
                        <div id="popup" style="display: none;">
                            <div id="popup-content">
                                <span id="close-button">&times;</span>
                                <form action="">
                                    <p>Your Video</p><input type="file" accept="video/*" required><br>
                                    <p>Comparison Video</p><input type="file" accept="video/*" required>
                                    <br><p>Select Points of Interest</p>
                                    <input type="checkbox" id="joint1" name="shoulderLeft" value="shoulderLeft">
                                    <label for="joint1"> Left Shoulder</label><br>
                                    <input type="checkbox" id="joint2" name="shoulderRight" value="shoulderRight">
                                    <label for="joint2"> Right Shoulder</label><br>
                                    <input type="checkbox" id="joint3" name="ElbowLeft" value="ElbowLeft">
                                    <label for="joint3"> Left Elbow</label><br>
                                    <input type="checkbox" id="joint4" name="ElbowRight" value="ElbowRight">
                                    <label for="joint4"> Right Elbow</label><br>
                                    <input type="checkbox" id="joint5" name="HipLeft" value="HipLeft">
                                    <label for="joint5"> Left Hip</label><br>
                                    <input type="checkbox" id="joint6" name="HipRight" value="HipRight">
                                    <label for="joint6"> Right Hip</label><br>
                                    <input type="checkbox" id="joint7" name="KneeLeft" value="KneeLeft">
                                    <label for="joint7"> Left Knee</label><br>
                                    <input type="checkbox" id="joint8" name="KneeRight" value="KneeRight">
                                    <label for="joint8"> Right Knee</label><br>
                                    <input type="checkbox" id="joint9" name="AnkleLeft" value="AnkleLeft">
                                    <label for="joint9"> Left Ankle</label><br>
                                    <input type="checkbox" id="joint10" name="AnkleRight" value="AnkleRight">
                                    <label for="joint10"> Right Ankle</label><br>
                                    <!--
                                        <fieldset>
                                            <div class="form-group">
                                                <h3>Select one option:</h3>
                                                <div class="checkbox-group">
                                                    <input type="checkbox" id="option1" name="option" value="option1" onclick="uncheckOthers(this)">
                                                    <label for="option1">Push-ups</label>
                                                    <input type="checkbox" id="option2" name="option" value="option2" onclick="uncheckOthers(this)">
                                                    <label for="option2">Pull-ups</label>
                                                    <input type="checkbox" id="option3" name="option" value="option3" onclick="uncheckOthers(this)">
                                                    <label for="option3">Squats</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    -->
                                    <input type="submit" value="Submit">
                                    <script>
                                        const form = document.querySelector("form");
                                        const checkboxes = document.querySelectorAll("input[type='checkbox']");
                                        
                                        form.addEventListener("submit", function(event) {
                                            let atLeastOneChecked = false;
                                            
                                            for (let i = 0; i < checkboxes.length; i++) {
                                                if (checkboxes[i].checked) {
                                                    atLeastOneChecked = true;
                                                    break;
                                                }
                                            }
                                            
                                            if (!atLeastOneChecked) {
                                                alert("Please select at least one option.");
                                                event.preventDefault();
                                            }
                                        });
                                    </script>
                                </form>
                            </div>
                        </div>
                        <script>
                            const input = document.querySelector('#video-file');
                            const cl_vid = document.querySelector('#client');
                            
                            input.addEventListener('change', () => {
                                const file = input.files[0];
                                const url = URL.createObjectURL(file);
                                cl_vid.src = url;
                            });
                        </script>
                    </div>
                    <div class="video-box">
                        <h3 class="video-title">Instructor</h3>
                        <video id="instructor" controls></video>
                        
                        <form>
                            <label for="video-select">Select a video:</label>
                            <select id="video-select">
                                <option value="video1.mp4">Video 1</option>
                                <option value="video2.mp4">Video 2</option>
                                <option value="video3.mp4">Video 3</option>
                            </select>
                        </form>
                        
                        <script>
                            const select = document.querySelector('#video-select');
                            const i_vid = document.querySelector('#instructor');
                            
                            select.addEventListener('change', () => {
                                i_vid.src = select.value;
                            });
                        </script>
                        
                    </div>
                </div>
                
            </div>
            <div id="explanation">
                <div class="basic-wide-container">
                    <h1><u>Explanation</u></h1>
                    <p class="explanation">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="social-bar">
            <a href="https://www.instagram.com/"><img src="../static/images/images.jpeg" width="50" height="50"></a>
            <a href="https://www.facebook.com/"><img src="../static/images/download.png" width="50" height="50"></a>
            <a href="https://twitter.com/"><img src="../static/images/download (1).png" width="50" height="50"></a>
            <a href="https://youtube.com/"><img src="../static/images/download (2).png" width="50" height="550"></a>
        </div>
        <script>
            const popupButton = document.getElementById("popup-button");
            const popup = document.getElementById("popup");
            const closeButton = document.getElementById("close-button");
            
            popupButton.addEventListener("click", () => {
                popup.style.display = "block";
            });
            
            closeButton.addEventListener("click", () => {
                popup.style.display = "none";
            });
            
            window.addEventListener("click", (event) => {
                if (event.target === popup) {
                    popup.style.display = "none";
                }
            });
            <!--
                function uncheckOthers(checkbox) {
                    const checkboxes = document.getElementsByName("option");
                    for (const otherCheckbox of checkboxes) {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    }
                }
            -->
        </script>
    </body>
    </html>
    
