.topnav{
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

.topnav ul li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
  }

  .topnav ul li a:hover {
    color: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  }
  .topnav ul li a {
    margin: 8px;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }