.topnav{
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
}

.topnav ul li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
  }

  .topnav ul li a:hover {
    background-color: lightslategray;
  }
  .topnav ul li a {
    margin: 8px;
    padding: 10px;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }